* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  /* Primary Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */

  /* backgrounds */
  --light-blue: #CAC9FF
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* circles */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

/* Fonts */
@font-face {
  font-family: hanken-grotesk-medium;
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}

@font-face {
  font-family: hanken-grotesk-bold;
  src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: hanken-grotesk-extra-bold;
  src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

body {
  font-size: 18px;
}

.container,
header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* HEADER */

header {
  height: 50vh;
  background: linear-gradient(
    180deg,
    #75f 0%,
    #6943ff 0.01%,
    #6341fd 9.57%,
    #583cf9 28.9%,
    #2f2ce9 100%
  );
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  border-radius: 0px 0px 32px 32px;
  color: var(--light-lavender);
}

header .title,
header .results,
header .footing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header .title {
  justify-content: center;
  height: 15%;
}

header .results {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .results .score-container {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/background.svg);
}

header .results .score-container .score {
  font-weight: 600;
  font-size: 4rem;
  color: var(--white);
}

header .results .score-container .total {
  font-size: 4rem;
  font-size: 0.8rem;
}

header .footing {
  height: 35%;
  justify-content: flex-start;
}

header .footing .title {
  font-size: 1.5rem;
  color: var(--white);
}

header .footing .description {
  margin-top: 15px;
  text-align: center;
}

/* MAIN */

main {
  border: 1px solid black;
  height: 40vh;
}

footer {
  height: 10vh;
  justify-content: center;
}

footer button {
  width: 315px;
  height: 56px;
}
